name: Android Build CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Install Android cmdline-tools
        run: |
          sudo mkdir -p /usr/local/lib/android/cmdline-tools
          cd /usr/local/lib/android/cmdline-tools
          sudo wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip -O tools.zip
          sudo unzip tools.zip -d tools
          sudo rm tools.zip

      - name: Set PATH and install SDK components
        run: |
          export ANDROID_HOME=/usr/local/lib/android
          export PATH=$ANDROID_HOME/cmdline-tools/tools/bin:$PATH
          export PATH=$ANDROID_HOME/platform-tools:$PATH

          yes | sdkmanager --licenses
          sdkmanager "platform-tools"
          sdkmanager "build-tools;34.0.0"
          sdkmanager "platforms;android-34"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.13.0"
          channel: stable

      - name: Flutter pub get
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release --no-shrink

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: visora-ai-apk
          path: build/app/outputs/flutter-apk/*.apk
