name: Android Build CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      # Install cmdline-tools properly
      - name: Install Android commandline-tools
        run: |
          set -e
          ANDROID_ROOT=/usr/local/lib/android
          sudo mkdir -p $ANDROID_ROOT/cmdline-tools
          cd /tmp

          # download correct zip
          wget -q https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip -O cmdline-tools.zip

          sudo unzip -q cmdline-tools.zip -d cmdline-tools-temp
          sudo rm cmdline-tools.zip

          sudo mkdir -p $ANDROID_ROOT/cmdline-tools/latest
          sudo mv cmdline-tools-temp/cmdline-tools/* $ANDROID_ROOT/cmdline-tools/latest/
          sudo rm -rf cmdline-tools-temp

      # Setup SDK + PATH + install packages
      - name: Set PATH and install SDK components
        run: |
          set -e
          export ANDROID_HOME=/usr/local/lib/android
          export PATH=$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/platform-tools:$PATH

          sudo chmod +x $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager

          yes | sdkmanager --licenses || true

          sdkmanager "platform-tools"
          sdkmanager "build-tools;34.0.0"
          sdkmanager "platforms;android-34"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.13.0"
          channel: stable

      - name: Flutter pub get
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release --no-shrink

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: visora-ai-apk
          path: build/app/outputs/flutter-apk/*.apk
